SYSTEM REQUIREMENTS
# This file lists the system requirements for the Todo App project.
1. Add tasks to a todo list
2. Save tasks to a file (todo.txt)
3. edit tasks
4. Delete tasks
5. View tasks
6. Add dealines and priorities to tasks
7. Mark tasks as done
8. Use Argparse for command line arguments


SYSTEM DESIGN
# This file outlines the system design for the Todo App project.
1. Structure
    - todo_app/
      - main.py # Main entry point for the application
      - todo.py #Task management logic
      - file.py # File handling logic
      - class.py # Class definitions
      - todo.txt # File to store tasks
